.aside {
    max-width: 80%;
    width: max-content;

    word-wrap: break-word;

    margin: auto;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;

    border: 2px solid rgb(60, 255, 0);
    background-color: rgba(0, 255, 26, 0.155);
}